<div class="col-md-6">
  <h2> Lista de Contactos</h2>
  
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let persona of personas">
      <td class="hidden">{{persona.idpersona}}</td>
      <td>{{persona.nombre}}</td>
      <td>{{persona.apellido1}} {{persona.apellido2}}</td>
      <td><button class="btn btn-danger" (click)="modificarContacto(persona)"> Editar contacto</button>
      <button class="btn btn-danger" (click)="borrarContacto(persona)"> Borrar contacto</button></td>
    </tr>
    </tbody>
  </table>
  </div>
