<div class="col-md-6 user-container">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" formControlName="nombre" placeholder="Nombre" name="nombre" class="form-control" id="nombre">
    </div>

    <div class="form-group">
      <label for="apellido1">Primer apellido:</label>
      <input type="text" formControlName="apellido1" placeholder="Primer apellido" name="apellido1" class="form-control" id="apellido1">
    </div>

    <div class="form-group">
      <label for="apellido2">Segundo apellido :</label>
      <input formControlName="apellido2" placeholder="Segundo apellido" name="apellido2" class="form-control" id="apellido2">
    </div>

    <div class="form-group">
      <label for="dni">DNI:</label>
      <input formControlName="dni" placeholder="DNI" name="dni" class="form-control" id="dni">
    </div>

    <div class="form-group">
      <label for="fechaNacimiento">Fecha nacimiento:</label>
      <input type="date" formControlName="fechaNacimiento" placeholder="Fecha de nacimiento" name="fechaNacimiento" class="form-control" id="fechaNacimiento">
    </div>

    
    <button class="btn btn-success">Crear Contacto</button>
  </form>
</div>