<div class="col-md-6 user-container">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nombre">nombre:</label>
      <input type="text" formControlName="nombre" placeholder="nombre" name="nombre" class="form-control" id="nombre">
    </div>

    <div class="form-group">
      <label for="apellido1">Apellido:</label>
      <input type="text" formControlName="apellido1" placeholder="apellido1" name="apellido1" class="form-control" id="apellido1">
    </div>

    <div class="form-group">
      <label for="apellido2">Apellido :</label>
      <input formControlName="apellido2" placeholder="apellido2" name="apellido2" class="form-control" id="apellido2">
    </div>

    <div class="form-group">
      <label for="dni">DNI:</label>
      <input formControlName="dni" placeholder="dni" name="dni" class="form-control" id="dni">
    </div>

    <div class="form-group">
      <label for="fechaNacimiento">Fecha nacimiento:</label>
      <input type="date" formControlName="fechaNacimiento" placeholder="Fecha de nacimiento" name="fechaNacimiento" class="form-control" id="fechaNacimiento">
    </div>

    <div class="form-group">
      <label for="direccion">Salary:</label>
      <input type="text" formControlName="direccion" placeholder="direccion" name="direccion" class="form-control" id="direccion">
    </div>

    <div class="form-group">
      <label for="telefono">Salary:</label>
      <input type="text" formControlName="telefono" placeholder="telefono" name="telefono" class="form-control" id="telefono">
    </div>
    <button class="btn btn-success">add</button>
  </form>
</div>
