@charset "UTF-8";


h1{
    text-align: center;
    color: #ffffff;
    border:solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: rgba(0,0,0,0.5);
    background-color: rgba(2,24,58,0.7)
}

table{
    align-content: center;
    border:solid;
    border-width: 2px;
    border-color: rgba(0,0,0,0.65);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.principal{
    background: rgba(0, 40, 158, 0.5);
    
}

.contact{
    font-size: 20px;
    text-align: center;
    width: 80%;
    height: auto;
    border-top-left-radius: 10px;
}

.options{
    font-size: 20px;
    width: 20px;
    height: auto;
    border-color:black;
    border-top-right-radius: 10px;
}

td{
    text-align: left
}

button{
    border-radius: 15px;
    font-size:10px;
    background-color: aliceblue
}