<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="resources/static/css/estiloVD.css">
</head>
<body>
  
<div class="container">  
  <form action="#" th:action="@{/alta}" th:object="${persona}" method="post">
    <h3>Nuevo contacto</h3>
    <h4>rellene los siguientes campos</h4>
    <fieldset>
      <input placeholder="Nombre" type="text" th:value="${Persona.nombre}" th:name="nombre" th:id="nombre" tabindex="1" required autofocus>
    </fieldset>
     <fieldset>
      <input placeholder="apellido 1" th:value="${Persona.apellido1}" th:name="apellido1" th:id="apellido1" type="text" tabindex="1">
    </fieldset>
        <fieldset>
      <input placeholder="apellido 2" th:value="${Persona.apellido2}" th:name="apellido2" th:id="apellido2" type="text" tabindex="1">
    </fieldset>
        <fieldset>
      <input placeholder="dni" th:value="${Persona.dni}" th:name="dni" th:id="dni" type="text" tabindex="1">
    </fieldset>
    <fieldset>
      <input placeholder="telefono" th:value="${Persona.telefonos}" th:name="telefonos" th:id="telefonos" type="text" tabindex="1">
    </fieldset>
        <fieldset>
      <input placeholder="direccion" th:value="${Persona.direcciones.direccion}" th:name="direcciones" th:id="direcciones" type="text" tabindex="1">
    </fieldset>
      
        <fieldset>
      <input placeholder="Fecha de nacimiento" th:value="${Persona.fechaNacimiento
      }" th:name="fechaNacimiento" th:id="fechaNacimiento" type="date" tabindex="1">
    </fieldset>
    <fieldset>
     <input type="submit" id="contact-submit" value="Añadir nuevo contacto" />
    </fieldset>
    <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a></p>
  </form>
</div>
  
</body>
</html>