<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <spring:url value="resources/static/css/styles.css" var="styles"/>
    <link th:href="${styles}" rel="stylesheet" /> 
    <link rel="stylesheet" type="text/css" href="/resources/static/css/styles.css" th:href="@{resources/static/css/styles.css}" />
    <title>Lista de Contactos</title>
</head>

<body>
  <div class="backGeneral">
   <div class="container">
    <h1>Lista de Contactos</h1>
    <a href="new" th:href="@{/new}"><button>Añadir Contacto</button></a>
    <center>
        <table>
            <tr class="principal">
                <th class="contact">Contacto</th>
                <th class="options">Opciones</th>
            </tr>
            <tr th:each="listaContactos : ${listaContactos}">
                <td th:text="${listaContactos.nombre}"></td>
                <td>
                    <a href="detalle?idPersona=${listaContactos.idPersona}" th:href="@{/detalle(idPersona=${listaContactos.idPersona})}"><button>Ver</button></a>
                    <a href="new?idPersona=${listaContactos.idPersona}" th:href="@{/new(idPersona=${listaContactos.idPersona})}">
                        <button>Editar</button></a>
                    <a href="borrar?idPersona=${listaContactos.idPersona}" th:href="@{/borrar(idPersona=${listaContactos.idPersona})}">
                        <button>Borrar</button></a>
                </td>
            </tr>
        </table>
    </center>

</div>
</div>
</body>
</html>