<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
<title>Lista de Contactos</title>
</head>
<body>
<h1>Lista de Contactos</h1>
  
    <center><table>
      <tr class="principal">
        <th class="contact">Contacto</th>
        <th class="options">Opciones</th>
      </tr>
      <tr th:each="listaContactos : ${listaContactos}">
        <td th:text="${listaContactos.nombre}"></td>
        <td th:button></td>
      </tr>
    </table></center>


</body>
</html>